services:
  frontend:
    build: .
    container_name: futurework_frontend
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - '3000:3000'
    environment:
      - VITE_API_URL=http://localhost:8000
    restart: unless-stopped
